@import "../mixin";

@include desktop {
    .gift .full_page {
        padding: 10vh 8%;
        overflow: hidden;
        max-height: 80vh;
        position : relative;
        
        h1{
            color : rgb(70, 67, 67);
            font-size: 1.5rem;
        }
        
        .gift_tags{
            list-style:none;
            padding-left: 0;
            padding: 0 0.7rem;
            li {
                font-size: 0.7rem;
                color: #4a4a4a;
                display: inline-block;
                margin: 4px;
                padding: 5px 10px;
                background-color: transparent;
                border: rgb(207, 207, 207) 1px solid;
                border-radius: 50px;
                outline:none;
                &:hover{
                  cursor: pointer;
                  color: #3b23a6;
                  font-weight: 700 !important;
                  border: 1px solid rgba(59, 35, 166, 0.7);
                }
            }
        }
        
        .search_input{
            display: inline-block;
            margin: 0;
            width: 90%;
            height: 40px;
            padding: 0 20px;
            background-color: transparent;
            border: #4a4a4a 1px solid;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            outline:none;
            &:focus{
                border-color : blue;
                width : 90%;
            }
        }
        
        .search_btn{
            position : absolute;
            left : 85%;
            border: none;
            padding: 0;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            outline:none;
            &:hover{
                border-radius: 50%;
                box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
                cursor: pointer;
                opacity: 85%;
            }
            .MuiAvatar-root {
              width: 42px;
              height: 42px;
              background-color: #3b23a6;
            }
        }

        .scrollableDiv {
          height: 600px;
        }


        .giftList{
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            h4{
                display: block;
                width: 100%;
                margin-top: 0;
            }
        }

        .giftListEntry{
            position: relative;
            border: 1px solid rgb(207, 207, 207);
            border-radius: 20px;
            padding: 1.2%;
            margin: 1%;
            width: 20%;
            display: flex;
            flex-direction: column;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
            cursor: pointer;
            &:hover {
              background-color: rgba(59, 35, 166, 0.1);
              border: 1px solid rgba(59, 35, 166, 0.3);
            }

            img {
                max-width: 100%;
                height: 200px;
                width : 390px;
                border-radius: 10px;
                margin-left : auto;
                margin-right: auto;
            }

            .giftList_ranking{
                background-color: red;
                width: fit-content;
                padding: 10px;
                opacity: 0.6;
                font-size: 1.2rem;
                z-index: 5000;
                color: white;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 19px 0 0 0;
            }

            .giftList_title {
                color: #4a4a4a;
                font-size: 0.7rem;
                margin: 10px 0;
            }

            .giftList_price {
                color: #3b23a6;
                font-size: 1rem;
                font-weight: 900;
                text-align: right;
                margin-top: auto; // 상품명이 짧은 상품이 같은 열에 있을 경우, 줄 맞추기 위해
            }

            .giftList_category {
                text-align: right;
                font-size: 0.6rem;
                color: grey;
            }
        }

        .emoticonEntry {
            position: relative;
            border: 1px solid grey;
            border-radius: 20px;
            padding: 1.2%;
            margin: 1%;
            width: 45%;
            font-size: 0.7rem;
            display: flex;
            flex-direction: row;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
            cursor: pointer;

            .emoticon_ranking{
                flex: none;
                background-color: red;
                padding: 10px;
                opacity: 0.6;
                font-size: 1.2rem;
                color: white;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 19px 0 0 0;
            }
            img {
                flex: none;
                width: 100px;
                height: 100px;
                border-radius: 10px;
                margin-left: 40px;
                margin-right: 10px;
            }
            .emoticon_text{
                flex: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .emoticon_title {
                    color: #4a4a4a;
                    font-size: 0.7rem;
                    font-weight: 900;
                }
                .emoticon_artist {
                    font-size: 0.6rem;
                    color: grey;
                }
            }
            .copyIconDiv-Emoticon{
                margin-left: auto;
            }
        }
        
    }
}

@include mobile{
    .gift .full_page {
        padding: 8vh 7%;
        overflow: hidden;
        max-height: 80vh;
        position : relative;
        
        h1{
            color : rgb(70, 67, 67);
            font-size: 1.5rem;
            margin-top: 0;
        }
    
        .gift_tags{
            list-style:none;
            padding-left: 0;
            li {
                font-size: 0.6rem;
                color: #4a4a4a;
                display: inline-block;
                margin: 4px;
                padding: 5px 10px;
                background-color: transparent;
                border: rgb(207, 207, 207) 1px solid;
                border-radius: 50px;
                outline:none;
                &:hover {
                  cursor: pointer;
                  color: #3b23a6;
                  font-weight: 700 !important;
                  border: 1px solid rgba(59, 35, 166, 0.7);
                }
            }
        }

        .search_input{
            display: inline-block;
            margin: 0;
            width: 90%;
            height: 40px;
            padding: 0 20px;
            background-color: transparent;
            border: #4a4a4a 1px solid;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            outline:none;
            &:focus{
                border-color : blue;
                width : 90%;
            }
        }
        
        .search_btn{
          position : absolute;
          left : 83%;
            border: none;
            padding: 0;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            outline:none;
            &:hover{
                border-radius: 50%;
                box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
                cursor: pointer;
                opacity: 85%;
            }
            .MuiAvatar-root {
              width: 42px;
              height: 42px;
              background-color: #3b23a6;
            }
        }

        .scrollableDiv {
          height: 400px;
        }
        
        .giftList{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 100px;
            h4{
                display: block;
                width: 100%;
            }
        }

        .giftListEntry{
            position: relative;
            border: 1px solid rgb(207, 207, 207);;
            border-radius: 20px;
            width: 43%;
            margin: 1%;
            padding: 2% 2% 4% 2%;
            display: flex;
            flex-direction: column;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
            cursor: pointer;
            &:hover {
              background-color: rgba(59, 35, 166, 0.1);
              border: 1px solid rgba(59, 35, 166, 0.3);
            }

            img {
                max-width: 100%;
                height: 150px;
                border-radius: 10px;
            }

            .giftList_ranking{
                background-color: red;
                width: fit-content;
                padding: 10px;
                opacity: 0.6;
                font-size: 1.2rem;
                z-index: 5000;
                color: white;
                position: absolute;
                margin-top: 0;
                top: 0;
                left: 0;
                border-radius: 19px 0 0 0;
            }

            .giftList_title {
                color: #4a4a4a;
                font-size: 0.7rem;
                margin: 10px 0;
            }

            .giftList_price {
                text-align: right;
                color: #3b23a6;
                font-size: 1rem;
                font-weight: 900;
                margin-top: auto; // 상품명이 짧은 상품이 같은 열에 있을 경우, 줄 맞추기 위해
            }

            .giftList_category {
                text-align: right;
                font-size: 0.6rem;
                color: grey;
            }
        }
    
        .emoticonEntry {
            display: flex;
            position: relative;
            border: 1px solid grey;
            border-radius: 20px;
            padding: 1.2%;
            margin: 1%;
            width: 43%;
            font-size: 0.7rem;
            flex-direction: column;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
            cursor: pointer;

            .emoticon_ranking{
                padding: 10px;
                font-size: 1.2rem;
                color: #3b23a6;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                border-radius: 19px 0 0 0;
            }
            img {
                margin: 35px 0px 20px 25px;
                width: 100px;
                height: 100px;
                border-radius: 10px;
            }
            .emoticon_text{
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
                padding: 10px;
                .emoticon_title {
                    color: #4a4a4a;
                    font-size: 0.6rem;
                    font-weight: 900;
                }
                .emoticon_artist {
                    font-size: 0.5rem;
                    color: grey;
                }
            }
            .copyIconDiv{
                margin-right: 5px;
                margin-left: auto;
            }
            .copyText{
                display: none;
            }
        }

    }
}
