@import "../mixin";

@include desktop {
    .gift .full_page {
        padding: 10vh 8%;
        overflow: auto;
        max-height: 80vh;
        position : relative;
        
        h1{
            color : rgb(70, 67, 67);
            font-size: 40px;
            margin-top: 0;
        }
        
        .gift_tags{
            list-style:none;
            padding-left: 0;
            padding: 0 1rem;
            li {
                font-size: 0.6rem;
                color: #4a4a4a;
                display: inline-block;
                margin: 4px;
                padding: 5px 10px;
                background-color: transparent;
                border: rgb(151, 149, 149) 1px solid;
                border-radius: 50px;
                outline:none;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        
        .search_input{
            display: inline-block;
            margin: 0;
            width: 85%;
            height: 40px;
            padding: 0 20px;
            background-color: transparent;
            border: #4a4a4a 1px solid;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            outline:none;
            &:focus{
                border-color : blue;
            }
        }
        
        .search_btn{
            position : relative;
            left : 3%;
            background-color: transparent;
            border: none;
            padding: 0;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            outline:none;
            &:hover{
                border-radius: 50%;
                box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
                cursor: pointer;
            }
        }


        .InfiniteScroll{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .giftList{
            border: 1px solid grey;
            border-radius: 20px;
            padding: 10px;
            margin: 5px;
            margin-bottom: 15px;
            width: 20%;
            display: inline-block;
            font-size: 0.7rem;
        }
        
    }
}

@include mobile{
    .gift .full_page {
        padding: 10vh 8%;
        overflow: auto;
        max-height: 80vh;
        position : relative;
        
        h1{
            color : rgb(70, 67, 67);
            font-size: 40px;
            margin-top: 0;
        }
    
        .gift_tags{
            list-style:none;
            padding-left: 0;
            padding: 0 1rem;
            li {
                font-size: 0.6rem;
                color: #4a4a4a;
                display: inline-block;
                margin: 4px;
                padding: 5px 10px;
                background-color: transparent;
                border: rgb(151, 149, 149) 1px solid;
                border-radius: 50px;
                outline:none;
                &:hover{
                    cursor: pointer;
                }
            }
        }

        .search_input{
            display: inline-block;
            margin: 0;
            width: 85%;
            height: 40px;
            padding: 0 20px;
            background-color: transparent;
            border: #4a4a4a 1px solid;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            outline:none;
            &:focus{
                border-color : blue;
            }
        }
        
        .search_btn{
            position : relative;
            left : 3%;
            background-color: transparent;
            border: none;
            padding: 0;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            outline:none;
            &:hover{
                border-radius: 50%;
                box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
                cursor: pointer;
            }
        }
        
        
        .InfiniteScroll{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .giftList{
            border: 1px solid grey;
            border-radius: 20px;
            padding: 10px;
            margin: 10px;
            width: 40%;
            display: inline-block;
            font-size: 0.7rem;
        }
    

    }
}
