@import "../mixin";

@include desktop {
    .intro{
        position: relative;
        margin: 0;
        /* 흰 배경 아래로 */
        .full_page {
            position: absolute;
            display: table;
            width: 100%;
            height: 92vh;
        }
    }
    /* 내부 콘텐츠 전체 가운데 정렬용 */
    .title_content {
        display: table-cell;
        vertical-align: middle;
        .title {
            font-size: 3rem;
            font-weight: bold;
            color: #4a4a4a;
            margin: 100px 100px 0px 100px;
        }
        .desc {
            width: 60%;
            word-break: break-all;
            margin: 0px 100px 100px 100px;
        }
        .logo_sample {
            width: 120px;
            float: right;
            margin: 60px;
            padding: 60px;
            border-left: #4a4a4a solid 1px;
            /* 왼쪽 테두리로 세로줄 표현 */
        }
    }
}

@include mobile {
    .title_content {
        display: table-cell;
        vertical-align: middle;
        .title {
            display: block;
            text-align: center;
            font-size: 2.5rem;
            font-weight: bold;
            color: #4a4a4a;
            margin: 0px 100px;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: #4a4a4a solid 1px;
        }
        .desc {
            word-break: break-all;
            margin: 0px 100px;
        }
        .logo_sample {
            width: 25%;
            display: block;
            margin: auto;
            margin-top: 15%;
            padding: 60px;
        }
    }
}