@import "../mixin";

/* 모달창 css */
@include desktop {
  .addModal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 30;
    background: rgba(0, 0, 0, 0.3);

    .content {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 2;
      transform: translate3d(-50%, -50%, 0);
      background: whitesmoke;
      box-shadow: 0 0 5px #000;
      width: 35%;
      height: 60%;
      padding: 45px;
      border-radius: 10px;

      .giftInput {
        margin: 13px 0px 0px 0px;
        padding-top: 20px;
        .gift_type {
          font-size: 17px;
          border: none;
          outline: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
          height: 30px;
          width: 30%;
          margin-right: 4%;
          float: left;
          color: black;
          background-color: whitesmoke;
        }
    
        .gift_money {
          // display: inline;
          width: 66%;
          margin: 0;
          padding: 0;
          height: 29px;
        }
      }

      input {
        display: block;
        margin: 13px 0px 0px 0px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        width: 100%;
        font-size: 17px;
        outline: none;
        height: 30px;
        padding-top: 20px;
        background-color: whitesmoke;

        &:focus {
          border-color: #3b23a6;
        }

        &:hover {
          border-width: 2px;
        }

        &::placeholder {
          position: relative;
          top: 0px;
        }

        &:focus::placeholder {
          color: #3b23a6;
          font-size: 13px;
          position: relative;
          top: -30px;
          -webkit-transition: all .15s;
          transition: all .15s;
        }
      }

      .modify_event {
        display: none;
      }

      h3 {
        margin-top: 0;
        border-bottom: 2px solid black;
        padding: 10px 0;
      }

      form {
        flex: 1;
        align-items: center;

        // margin: 10% 0% 0% 20%;
        button {
          position: relative;
          left: 8%;
          width: 40%;
          background-color: white;
          border: 1px solid rgb(201, 199, 199);
          border-radius: 6px;
          margin-top: 10%;
          margin-right: 10px;
          padding: 5px 20px;

          &:hover {
            cursor: pointer;
          }
        }

        .buttonGroup {
          position: relative;
          top: -20px;

          .selected {
            background-color: #3436ad;
            color: white;
          }

          button {
            // margin-bottom : 10px;
            background-color: white;
            border: 1px solid rgb(201, 199, 199);
            border-radius: 6px;
            font-size: 16px;
            padding: 5px 20px;

            &:hover {
              cursor: pointer;
            }

            // &#takeBtn{
            //   margin-left: 10px;
            // }
          }
        }
      }
    }
  }

  input[type=date] {
    border: none;
    display: block;
    width: 80%;
    outline: none;
    height: 60px;
    padding-top: 40px;
    font-size: 20px;
  }

  input[type=date]:hover {
    cursor: pointer;
  }

  input[type=date]:focus {
    border-color: #3436ad;
  }

  input[type=date]:not(.has-value):before {
    color: rgb(151, 148, 148);
    content: attr(placeholder);
    position: relative;
    top: -30px;
    font-size: 13px;
  }

  input[type=date]::-webkit-calendar-picker-indicator {
    width: 10%;
    height: 80%;

    &:hover {
      cursor: pointer;
    }
  }

  /* 
    .content form{
    position: relative;
    left : -80%;
    width: 100%;
    height: 50%;
    } */

  //select css

  .event_type {
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 17px;
    margin-top: 36px;
    color: black;
    background-color: whitesmoke;

    option {
      background-color: white;
      color: black;
      font-size: 20px;
    }
  }

  .giftInput {
    .gift_type {
      display: inline;
    }

    .gift_money {
      display: inline;
      margin: 0;
    }
  }


  .modifyModal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 30;
    background: rgba(0, 0, 0, 0.3);

    .content {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 2;
      transform: translate3d(-50%, -50%, 0);
      background: whitesmoke;
      box-shadow: 0 0 5px #000;
      width: 35%;
      height: 60%;
      padding: 45px;
      border-radius: 10px;

      .giftInput {
        // margin: 13px 0px 0px 0px;
        padding-top: 20px;
        .gift_type {
          font-size: 17px;
          border: none;
          outline: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
          height: 30px;
          width: 30%;
          margin-right: 4%;
          float: left;
          color: black;
          background-color: whitesmoke;
        }
    
        .gift_money {
          // display: inline;
          width: 66%;
          margin: 0;
          padding: 0;
          height: 29px;
        }
      }

      input {
        margin: 13px 0px 0px 0px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        width: 100%;
        font-size: 17px;
        outline: none;
        height: 30px;
        padding-top: 20px;
        background-color: whitesmoke;

        &:focus {
          border-color: #3b23a6;
        }

        &:hover {
          border-width: 1px;
        }

        &::placeholder {
          position: relative;
          top: 0px;
        }

        &:focus::placeholder {
          color: #3b23a6;
          font-size: 13px;
          position: relative;
          top: -30px;
          -webkit-transition: all .15s;
          transition: all .15s;
        }
      }

      h3 {
        margin-top: 0;
        border-bottom: 2px solid black;
        padding: 10px 0;
      }

      form {
        flex: 1;
        align-items: center;

        // margin: 10% 0% 0% 20%;
        button {
          position: relative;
          left: 8%;
          width: 40%;
          background-color: white;
          border: 1px solid rgb(201, 199, 199);
          border-radius: 6px;
          margin-top: 10%;
          margin-right: 10px;
          padding: 5px 20px;

          &:hover {
            cursor: pointer;
          }
        }

        .buttonGroup {
          position: relative;
          // left : 0%;
          top: -20px;

          .selected {
            background-color: #3436ad;
            color: white;
          }

          button {
            background-color: white;
            border: 1px solid rgb(201, 199, 199);
            border-radius: 6px;
            font-size: 16px;
            padding: 5px 20px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .add_event {
      display: none;
    }
  }
}

@include mobile {
  .addModal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 30;
    background: rgba(0, 0, 0, 0.3);

    .content {
      position: relative;
      left: 50%;
      top: 40%;
      z-index: 2;
      transform: translate3d(-50%, -50%, 0);
      background: whitesmoke;
      box-shadow: 0 0 5px #000;
      width: 60%;
      padding: 10px 30px 40px 30px;
      border-radius: 10px;

      .giftInput {
        margin: 10px 0px 0px 0px;
        padding-top: 14px;
        .gift_type {
          font-size: 11px;
          border: none;
          outline: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
          height: 20%;
          width: 32%;
          margin-right: 5%;
          float: left;
          color: black;
          background-color: whitesmoke;
          padding-top: 6px;
        }
    
        .gift_money {
          // display: inline;
          width: 63%;
          margin: 0;
          padding: 0;
          height: 20%;
        }
      }

      input {
        margin: 10px 0px 10px 0px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        width: 100%;
        font-size: 11px;
        outline: none;
        height: 20%;
        padding-top: 14px;
        background-color: whitesmoke;

        &:focus {
          border-color: #3b23a6;
        }

        &:hover {
          border-width: 1px;
        }

        &::placeholder {
          position: relative;
          top: 0px;
        }

        &:focus::placeholder {
          color: #3b23a6;
          font-size: 10px;
          position: relative;
          top: -15px;
          -webkit-transition: all .15s;
          transition: all .15s;
        }
      }

      .modify_event {
        display: none;
      }

      h3 {
        border-bottom: 2px solid black;
        padding-bottom: 10px;
        margin-bottom: 40px;
        font-size: 1rem;
      }

      form {
        flex: 1;
        align-items: center;
        margin: 0% 0% 0% 0%;
        position: relative;
        top: 10px;

        button {
          border-radius: 6px;
          border: 1px solid rgb(201, 199, 199);
          position: relative;
          left: 6%;
          top: 30px;
          margin: 0px;
          width: 43%;
          font-size: 13px;
          margin-right: 10px;
          background-color: white;
          padding: 5px 20px;
        }

        .buttonGroup {
          position: relative;
          left: 0%;
          top: -40px;

          .selected {
            border: 1px solid rgb(201, 199, 199);
            background-color: #3436ad;
            color: white;
          }

          button {
            background-color: white;
            width: 40%;
            padding: 5px 20px;
            border: 1px solid rgb(201, 199, 199);
            border-radius: 6px;
            margin: 0;

            &:hover {
              cursor: pointer;
            }

            &#takeBtn {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }



  input[type=date] {
    border: none;
    display: block;
    width: 80%;
    outline: none;
    height: 30px;
    padding-top: 0px;
    font-size: 10px;
  }

  input[type=date]:hover {
    cursor: pointer;
  }

  input[type=date]:focus {
    border-color: #3436ad;
  }

  input[type=date]:not(.has-value):before {
    color: rgb(151, 148, 148);
    content: attr(placeholder);
    position: relative;
    top: -10px;
    font-size: 10px;
  }

  input[type=date]::-webkit-calendar-picker-indicator {

    // width: 0%;
    // height: 0%;
    &:hover {
      cursor: pointer;
    }
  }

  /* 
    .content form{
    position: relative;
    left : -80%;
    width: 100%;
    height: 50%;
    } */

  //select css

  .event_type {
    display: block;
    width: 100%;
    height: 20%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 11px;
    margin-top: 20px;
    color: black;
    background-color: whitesmoke;

    option {
      background-color: white;
      color: black;
      font-size: 11px;
    }
  }

  .modifyModal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 30;
    background: rgba(0, 0, 0, 0.3);

    .content {
      position: relative;
      left: 50%;
      top: 40%;
      z-index: 2;
      transform: translate3d(-50%, -50%, 0);
      background: whitesmoke;
      box-shadow: 0 0 5px #000;
      width: 60%;
      height: 65%;
      padding: 10px 30px;
      border-radius: 10px;

      .giftInput {
        padding-top: 14px;
        .gift_type {
          font-size: 11px;
          border: none;
          outline: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
          height: 20%;
          width: 32%;
          margin-right: 5%;
          float: left;
          color: black;
          background-color: whitesmoke;
          padding-top: 4px;
        }
    
        .gift_money {
          // display: inline;
          width: 63%;
          margin: 0;
          padding: 0;
          height: 20%;
        }
      }

      input {
        margin: 10px 0px 10px 0px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        width: 100%;
        font-size: 12px;
        outline: none;
        height: 20%;
        padding-top: 14px;
        background-color: whitesmoke;

        &:focus {
          border-color: blue;
        }

        &:hover {
          border-width: 1px;
        }

        &::placeholder {
          position: relative;
          top: 0px;
        }

        &:focus::placeholder {
          color: #3b23a6;
          font-size: 10px;
          position: relative;
          top: -15px;
          -webkit-transition: all .15s;
          transition: all .15s;
        }
      }

      h3 {
        border-bottom: 2px solid black;
        padding-bottom: 10px;
        font-size: 1rem;
      }

      form {
        flex: 1;
        align-items: center;
        margin: 0% 0% 0% 0%;
        position: relative;
        top: 10px;

        button {
          border-radius: 6px;
          border: 1px solid rgb(201, 199, 199);
          position: relative;
          left: 6%;
          top: 30px;
          margin: 0px;
          width: 43%;
          font-size: 13px;
          margin-right: 10px;
          background-color: white;
          padding: 5px 20px;
        }

        .buttonGroup {
          position: relative;
          left: 0%;
          top: -50px;

          .selected {
            border: 1px solid rgb(201, 199, 199);
            background-color: #3436ad;
            color: white;
          }

          button {
            top: 47px;
            background-color: white;
            width: 40%;
            padding: 5px 20px;
            border: 1px solid rgb(201, 199, 199);
            border-radius: 6px;
            margin: 0;

            &:hover {
              cursor: pointer;
            }

            &#takeBtn {
              margin-left: 10px;
            }
          }
        }
      }
    }

    .add_event {
      display: none;
    }
  }
}