@import "../mixin";

@include desktop {
    .mypage {
        .full_page {
            padding: 10vh 8%;
        }
        h1{
            color : #4a4a4a;
            font-size: 1.5rem;
        }
        .userInfo{
            background-color: #EBE9F6;
            opacity: 0.8;
            border-radius: 30px;
            width: 84%;
            margin-top: 5%;
            padding: 3%;
            h1{
                color : #3C23A7;
                font-size: 1.3rem;
                margin-bottom: 1%;
            }
            div {
                font-weight: 800;
                color : #4a4a4a;
                font-size: 1rem;
                margin: 0;
            }
            input {
                width: 30%;
            }
        }
        .backCsvMobile{
                // width : 13%;
                float: right;
                margin-right: 11%;
                margin-top : 2%;
                outline: none;
                &:hover{
                    color :  #0022e8
                }
                .csv {
                    outline:none;
                    border: none;
                    border-bottom: 1px solid #000;
                    color : rgb(5, 0, 0);
                    font-weight: 600;
                    position : relative;
                    top : -7px;
                    left : -1%;
                    background-color: white;
                    background-color: #ffffff;
                    &:hover{
                        cursor: pointer;
                        color:  #0022e8;
                        border-color:  #0022e8;
                    }
            }
        }
        .mypage_buttons{
            display: flex;
            justify-content: flex-end;
            .changeBtn {
                background-color: #7D7DFF;
                color : white;
                border: none;
                border-radius: 10px;
                padding: 5px 10px;
                margin-left: 15px;
                font-size: 0.8rem;
                font-weight: 800;
            }
            .changeBtn:hover {
                background-color: #6b6bff;
                color : white;
                border: none;
                border-radius: 10px;
                padding: 5px 10px;
                margin-left: 15px;
                font-size: 0.8rem;
                font-weight: 800;
            }
        }
        .changePasswordModal {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 30;
            background: rgba(0, 0, 0, 0.3);
            .changePW_content{
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 2;
                transform: translate3d(-50%, -50%, 0);
                background: whitesmoke;
                box-shadow: 0 0 5px #000;
                width: 35%;
                padding: 45px;
                border-radius: 10px;
            }
            h3 {
                margin-top: 0;
                border-bottom: 2px solid black;
                padding: 10px 0;
            }
            h4{
                margin: 0;
            }
            input {
                display: block;
                margin: 12px 0px 0px 0px;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                width: 100%;
                font-size: 15px;
                outline: none;
                height: 30px;
                padding-top: 20px;
                background-color: whitesmoke;
        
                &:focus {
                  border-color: #3b23a6;
                }
        
                &:hover {
                  border-width: 2px;
            // width : 13%;
            position :absolute;
            top : 58%;
            margin-left : 12%;
            &:hover{
                color : rgb(41, 91, 255)
            }
            .csv {
                position : relative;
                top : -13px;
                left : 6%;
                background-color: white;
                border : none;
                color: rgba(53, 51, 51, 0.733);
                z-index: -1;
                &:hover{
                    cursor: pointer;
                    color: rgb(41, 91, 255)
                }
            }       }
        
                &::placeholder {
                  position: relative;
                  top: 0px;
                }
        
                &:focus::placeholder {
                  color: #3b23a6;
                  font-size: 13px;
                  position: relative;
                  top: -30px;
                  -webkit-transition: all .15s;
                  transition: all .15s;
                }
            }
            button {
                position: relative;
                left: 8%;
                width: 40%;
                background-color: white;
                border: 1px solid rgb(201, 199, 199);
                border-radius: 6px;
                margin-top: 5%;
                margin-bottom: 10%;
                margin-right: 10px;
                padding: 5px 20px;
      
                &:hover {
                  cursor: pointer;
                }
            }
        }
        .chart {
            width: 90%;
        }
        // 차트 위 gift, money 폰트 사이즈
        .recharts-default-legend span{
            font-size: 1rem;
        }
    }
}

@include mobile {
.mypage {
    .full_page {
        padding: 8% 6%;
    }
    h1{
        color : #4a4a4a;
        font-size: 1.5rem;
        margin-bottom: 3vh;
        .backCsv{
         display: none;
        }
    }
    .backCsvMobile{
        // width : 13%;
        float: right;
        margin-right: 6%;
        margin-top : 2%;
        outline: none;
        &:hover{
            color :  #0022e8
        }
        .csv {
            outline:none;
            border: none;
            border-bottom: 1px solid #000;
            color : rgb(5, 0, 0);
            font-weight: 600;
            position : relative;
            top : -6px;
            left : -1%;
            font-size: 11px;
            background-color: white;
            background-color: #ffffff;
            &:hover{
                cursor: pointer;
                color:  #0022e8;
                border-color:  #0022e8;
            }
    }
}
    .userInfo{
        background-color: #EBE9F6;
        opacity: 0.8;
        border-radius: 15px;
        width: 84%;
        margin-top: 10%;
        margin-left: 2%;
        margin-bottom: 10%;
        padding: 3% 5%;
        h1{
            color : #3C23A7;
            font-size: 1rem;
            margin-bottom: 1%;
        }
        div {
            font-weight: 600;
            color : #4a4a4a;
            font-size: 0.8rem;
            margin-top: 10px;
        }
        input {
            font-size: 0.8rem;
            padding-left: 1vh;
            width: 180px;
            border: none;
            border-radius: 5px;
        }
    }
    .mypage_buttons{
        display: flex;
        justify-content: flex-end;
        .changeBtn {
            background-color: #7D7DFF;
            color : white;
            border: none;
            border-radius: 5px;
            padding: 4px 6px;
            margin-top: 5%;
            margin-left: 10px;
            font-size: 0.6rem;
            font-weight: 600;
        }
        .changeBtn:hover {
            background-color: #6b6bff;
            color : white;
            border: none;
            border-radius: 5px;
            padding: 4px 6px;
            margin-top: 5%;
            margin-left: 10px;
            font-size: 0.6rem;
            font-weight: 600;
        }
    }
    .clickChangeNameBtn{
        border: none;
        border-radius: 5px;
        background-color: #7D7DFF;
        color: whitesmoke;
    }
    .clickChangeNameBtn:hover{
        border: none;
        border-radius: 5px;
        background-color: #3C23A7;
        color: whitesmoke;
    }
    .changePasswordModal {
        background-color: rgb(245, 245, 245);
        border-radius: 30px;
        width: 80%;
        padding: 10%;
    }
    .chart {
        width: 100%;
    }
    // 차트 위 gift, money 폰트 사이즈
    .recharts-default-legend span{
        font-size: 0.8rem;
    }
}
}