
.mypage .full_page {
    padding: 10vh 8%;
}
.userInfo{
    background-color: rgb(228, 228, 228);
    border-radius: 30px;
    width: 80%;
    padding: 20px 40px 40px 40px;
    /* display: inline-block; */
}

.mypage button {
    margin: 10px;
}

.changePasswordModal {
    background-color: rgb(228, 228, 228);
    border-radius: 30px;
    width: 80%;
    padding: 20px 40px;
}