@import "../mixin";

@include desktop{
  div.topnav {
    position: fixed;
    overflow: hidden;
    background-color: #3b23a6;
    border-radius: 60px 60px 0px 0px;
    height: 150px;
    z-index:1;
    width : 99%;
    animation-name: topnav;
    animation-duration: 4s;
    a {
      display:none;
    } 
    .loginBtn {
        width: 100px;
        height: 4.5vh;
        border-radius: 6px;
        border: solid 1px #d8d8d8;
        background-color: white;
        margin-left: auto;
        position: relative;
        right: 50px;
        top: 2.5vh;
        float: right;
        font-weight: bold;
        color: #5e5e5e;
        &:hover{
          cursor: pointer;
          background-color: #dbd6d6;
        }
    }
  }
  
  
  div.topnav.fixed{
    animation : none;
  }
  
  /* topNav animation*/
  @keyframes topnav{
    0% { top : 50%; }
    25% { top : 0.6%; }
  }
  
  /*sidenav css*/
  div.sidenav {
    position: absolute;
    overflow: hidden;
    background-color: #3b23a6;
    border-radius: 60px 0px 0px 60px;
    height: 100vh;
    z-index: 2;
    width: 15%;
    top: 0;
    a {
      position: relative;
      left : 6%;
      color: #ffffff;
      top: 130px;
    }
    .loginBtn {
      display: none;
    }
    .cur{
      font-size: 100px;
    }
    .makeStyles-curpath-1{
      animation-name : curpath;
      animation-duration: 4s;
    }
  }
  @keyframes curpath{
    0% { left : 80%; }
    25% { left : 0px; }
  }  
  
}


@include mobile{
  div.topnav {
    position: fixed;
    overflow: hidden;
    background-color: #3b23a6;
    height: 100px;
    z-index:1;
    width : 100%;
    animation-name: topnav;
    animation-duration: 4s;
  
    a {
      display:none;
  } 
    .loginBtn {
        width: 100px;
        height: 4.5vh;
        border-radius: 6px;
        border: solid 1px #d8d8d8;
        background-color: white;
        margin-left: auto;
        position: relative;
        right: 18px;
        top: 2.2vh;
        float: right;
        font-weight: bold;
        color: #5e5e5e;
        &:hover{
          cursor: pointer;
          background-color: #dbd6d6;
        }
    }
  }
  
  
  div.topnav.fixed{
    animation : none;
  }
  
  /* topNav animation*/
  @keyframes topnav{
    0% { top : 50%; }
    25% { top : 0%; }
  }
  
  /*sidenav css*/
  div.sidenav {
    display: flex;
    position: fixed;
    overflow: hidden;
    background-color: #3b23a6;
    height: 10%;
    z-index:4;
    width: 100%;
    bottom : 0%;
    left : -0px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 100%;
      color: #f2f2f2;
      text-decoration: none;
    }
    .loginBtn {
      display: none;
    }
    .cur{
      font-size: 100px;
    }
  }
  @keyframes curpath{
    0% { top : 80%; }
    25% { top : 30%; }
  }  
  
}
