
div.topnav {
    position: relative;
    overflow: hidden;
    background-color: #3b23a6;
    border-radius: 60px 60px 0px 0px;
    height: 150px;
    z-index:1;
  }
  
  .topnav a {
      position: relative;
      left :30%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .loginBtn {
    width: 100px;
    height: 32px;
    border-radius: 6px;
    border: solid 1px #d8d8d8;
    background-color: #ffffff;
    margin-left: auto;
    margin: 1rem;
    float: right;
}


/*sidenav css*/

div.sidenav {
  position: absolute;
  overflow: hidden;
  background-color: #3b23a6;
  border-radius: 60px 0px 0px 60px;
  height: 110vh;
  z-index:1;
  width: 10%;
  top: 100px;
}

.sidenav a {
  position: relative;
  float: top;
  left : 15%;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  top:200px;
}

.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

.sidenav .loginBtn {
  display:none;
}

.sidenav .cur{
  font-size: 100px;
}