@import "../mixin";

@include desktop {
    .schedule{
        padding: 10vh 8%;
        overflow-y: overlay;
        max-height: 80vh;

        /* schedule h1 css */
        h1{
            color : #4a4a4a;
            font-size: 40px;
            position: fixed;
            margin: 0;
        }
        .transferIcon {
          display: none;
        }

        .gradient{
            display: block;
            position: fixed;
            width: 80%;
            height: 100vh;
            top: 10px;
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
            pointer-events: none;
        }

        ul{
            list-style:none;
        }

        .date_li {
            display: flex;
        }
        
        .schedule_list{
            margin-top: 80px;
            padding: 0;
            margin-right: 5%;
            /* date css */
            .date{
                color : #505050;
                font-size: 1.2rem;
                margin: auto;
            } 
            /* schedule list css */
            li{
                border: 1px solid rgb(151, 149, 149);
                width: 79%;
                max-height: 30px;
                padding: 1% 4%;
                border-radius: 40px;
                margin: 4px 0;
                margin-left: auto;
                
                /* 수정, 삭제 button css*/
                .li_button{
                    display: none;
                }
                &:hover{
                    .li_button{
                        display : flex;
                        float: right;
                        border: none;
                        background-color: white;
                        color: rgb(184, 184, 184);
                        font-size: 0.9rem;
                    }
                }
            }

            /* schedule list안에 내용 css 담당 */
            span{
                color : #4a4a4a;
                margin-right: 1vh;
                font-size: 0.9rem;
                &.결혼식 {
                    padding-left: 0;
                    color: #FFCECE;
                    border-left: 3px solid #FFCECE;
                }
                &.생일 {
                    padding-left: 0;
                    color: #FFB65B;
                    border-left: 3px solid #FFB65B;
                }
                &.장례식 {
                    padding-left: 0;
                    color: #737272;
                    border-left: 3px solid #737272;
                }
                &.집들이 {
                    padding-left: 0;
                    color: #6BACF8;
                    border-left: 3px solid #6BACF8;
                }
                &.취직 {
                    padding-left: 0;
                    color: #FFF00C;
                    border-left: 3px solid #FFF00C;
                }
                &.입학 {
                    padding-left: 0;
                    color: #A4F256;
                    border-left: 3px solid #A4F256;
                }
                &.출산 {
                    padding-left: 0;
                    color: #FF6666;
                    border-left: 3px solid #FF6666;
                }
                &.돌잔치 {
                    padding-left: 0; 
                    color: #97ECCF;
                    border-left: 3px solid #97ECCF;
                }
                &.기념일 {
                    padding-left: 0; 
                    color: #E1C5FF;
                    border-left: 3px solid #E1C5FF;
                }
                &.기타 {
                    padding-left: 0;
                    color: #CECECE;
                    border-left: 3px solid #CECECE;
                }
            }
            .type{
                color: rgb(70, 67, 67); 
            }
            .gift{
                color: rgb(184, 184, 184);
            }
        }
        
        /* add schedule button css */
        .addBtn{
            position: fixed;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border : none;
            right: 13%;
            color: white;
            padding-top: 0px;
            box-shadow: 0px 4px 11px 1px rgba(0, 0, 0, 0.1);
            background-color: #cdcdcd;
            font-size: 1.5rem;
            outline:none;
            &:hover{
                cursor: pointer;
                background-color: #b5b5b5;
            }
        }
        
        // 스크롤바
        &::-webkit-scrollbar {
            width: 100px;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            background-color: rgb(225, 225, 225);
            background-clip: padding-box;
            border: 45px solid transparent;
        }
        &::-webkit-scrollbar-button {
            width: 0;
            height: 0;
        }
    }
}

@include mobile {
    .schedule{
        padding: 10vh 8%;
        overflow-y: overlay;
        max-height: 80vh;
    
        /* schedule h1 css */
        h1{
            color : #4a4a4a;
            font-size: 40px;
            position: fixed;
            margin: 0;
        }
        .transferIcon {
          position: fixed;
          top: 18%;
          right: 13%;
          margin-bottom: 10px;
          .kakaobank {
            margin-right: 5px;
            img {
              height: 30px;
              border: rgba(70, 70, 70, 0.25) 1px solid;
              border-radius: 10px;
            }
          }
          .toss {
            img {
              height: 30px;
              border: rgba(70, 70, 70, 0.25) 1px solid;
              border-radius: 10px;
              padding: 0 21px;
            }
          }
        }
    
        .gradient{
            display: block;
            position: fixed;
            width: 80%;
            height: 100vh;
            top: 10px;
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
            pointer-events: none;
        }
    
        ul{
            list-style:none;
        }
    
        .date_li {
            display: flex;
        }
        
        .schedule_list{
            margin-top: 111px;
            padding: 0;
            margin-right: 5%;
            /* date css */
            .date{
                color : #505050;
                font-size: 1rem;
                margin: auto;
            } 
            /* schedule list css */
            li{
                border: 1px solid rgb(151, 149, 149);
                width: 70%;
                height: 30px;
                padding: 1% 4%;
                border-radius: 40px;
                margin: 4px 0;
                margin-left: auto;
                
                /* 수정, 삭제 button css*/
                .li_button{
                    display: none;
                }
                &:hover{
                    .li_button{
                        display : flex;
                        float: right;
                        border: none;
                        background-color: white;
                        color: rgb(184, 184, 184);
                        font-size: 0.9rem;
                    }
                }
            }
    
            /* schedule list안에 내용 css 담당 */
            span{
                color : #4a4a4a;
                margin-right: 1vh;
                font-size: 0.9rem;
                &.결혼식 {
                    padding-left: 0;
                    color: #FFCECE;
                    border-left: 3px solid #FFCECE;
                }
                &.생일 {
                    padding-left: 0;
                    color: #FFB65B;
                    border-left: 3px solid #FFB65B;
                }
                &.장례식 {
                    padding-left: 0;
                    color: #737272;
                    border-left: 3px solid #737272;
                }
                &.집들이 {
                    padding-left: 0;
                    color: #6BACF8;
                    border-left: 3px solid #6BACF8;
                }
                &.취직 {
                    padding-left: 0;
                    color: #FFF00C;
                    border-left: 3px solid #FFF00C;
                }
                &.입학 {
                    padding-left: 0;
                    color: #A4F256;
                    border-left: 3px solid #A4F256;
                }
                &.출산 {
                    padding-left: 0;
                    color: #FF6666;
                    border-left: 3px solid #FF6666;
                }
                &.돌잔치 {
                    padding-left: 0; 
                    color: #97ECCF;
                    border-left: 3px solid #97ECCF;
                }
                &.기념일 {
                    padding-left: 0; 
                    color: #E1C5FF;
                    border-left: 3px solid #E1C5FF;
                }
                &.기타 {
                    padding-left: 0;
                    color: #CECECE;
                    border-left: 3px solid #CECECE;
                }
            }
            .type{
                color: rgb(70, 67, 67); 
            }
            .gift{
                color: rgb(184, 184, 184);
                font-size: 0.7rem;
            }
        }
        
        /* add schedule button css */
        .addBtn{
            position: fixed;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border : none;
            right: 13%;
            color: white;
            padding-top: 0px;
            box-shadow: 0px 4px 11px 1px rgba(0, 0, 0, 0.1);
            background-color: #cdcdcd;
            font-size: 1.5rem;
            outline:none;
            &:hover{
                cursor: pointer;
                background-color: #b5b5b5;
            }
        }
        
        // 스크롤바
        &::-webkit-scrollbar {
            width: 100px;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            background-color: rgb(225, 225, 225);
            background-clip: padding-box;
            border: 45px solid transparent;
        }
        &::-webkit-scrollbar-button {
            width: 0;
            height: 0;
        }
    }
}