.schedule{
    padding: 10vh 8%;
    overflow: auto;
    max-height: 80vh;

    /* schedule h1 css */
    h1{
        color : rgb(70, 67, 67);
        font-size: 40px;
        position: fixed;
    }

    .gradient{
        display: block;
        position: fixed;
        width: 80%;
        height: 100vh;
        top: 10px;
        border-radius: 60px;
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
        pointer-events: none;
    }

    ul{
        list-style:none;
    }

    .date_li {
        display: flex;
    }
    
    .schedule_list{
        margin: 0;
        margin-top: 100px;

        /* schedule list css */
        li{
            border: 1px solid rgb(151, 149, 149);
            width: 70%;
            padding: 2% 4%;
            border-radius: 40px;
            margin: 1%;
            margin-left: auto;

            &:hover{
                .li_button{
                    // position: relative;
                    display : flex;
                    float: right;
                    border: none;
                    background-color: white;
                    left : 80%;
                    font-weight: 400;
                    color: rgb(160, 156, 156);
                    font-size: 16px;
                    padding : 0px 0px 0px 10px;
                }
            }
            .li_button{
                display: none;
            }
        }

        /* date css */
        .date{
            margin-top: 0.95rem;
            font-size: 1.2rem;
        } 

        /* schedule list안에 내용 css 담당 */
        span{
            color : rgb(70, 67, 67);
            margin-right: 1vh;
            font-size: 0.9rem;
            &.결혼식 {
                padding-left: 10px;
                border-left: 3px solid #FFCECE;
            }
            &.생일 {
                padding-left: 10px;
                border-left: 3px solid #FFB65B;
            }
            &.장례식 {
                padding-left: 10px;
                border-left: 3px solid #737272;
            }
            &.집들이 {
                padding-left: 10px;
                border-left: 3px solid #6BACF8;
            }
            &.취직 {
                padding-left: 10px;
                border-left: 3px solid #FFF00C;
            }
            &.입학 {
                padding-left: 10px;
                border-left: 3px solid #A4F256;
            }
            &.출산 {
                padding-left: 10px;
                border-left: 3px solid #FF6666;
            }
            &.돌잔치 {
                padding-left: 10px; 
                border-left: 3px solid #97ECCF;
            }
            &.기념일 {
                padding-left: 10px; 
                border-left: 3px solid #E1C5FF;
            }
            &.기타 {
                padding-left: 10px;
                border-left: 3px solid #CECECE;
            }
        }
        .type{
            color: rgb(70, 67, 67); 
        }
        .gift{
            color: rgb(160, 156, 156);
        }
        
        /* 수정, 삭제 button css*/
        .li_button{
            display:none;
        }
    }
    
    /* add schedule button css */
    .addBtn{
        position: fixed;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        left : 80%;
        color: white;
    }
    
    // 스크롤바
    &::-webkit-scrollbar {
        width: 65px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background-color: rgb(225, 225, 225);
        background-clip: padding-box;
        border: 30px solid transparent;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
}
    
    
    



    
