
/*전체정렬 signin 컴포넌트*/
.signin{
    padding-top: 100px;
    display : flex;
    flex-direction: column;
    align-items: center;
}

/* h1 login css */
.signin h1{
    font-weight: 400;
    font-size:25px;
    text-align: center;
}


/* input box css*/
input{
    display: block;
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid black;
    width : 400px;
    font-size: 17px;
    outline: none;
    height: 30px;
    padding-top : 20px;
}

input:focus {
    border-color : blue;
}

input:hover {
    border-width : 3px;
}

input::placeholder{
    position: relative;
    top: 0px;
}

input:focus::placeholder{
    color : #3b23a6;
    font-size: 13px;
    position :relative;
    top : -30px;
    -webkit-transition: all .15s ;
    transition: all .15s ;
}

/* login button css*/
.login_btn{
    width:100%;
    margin-top:40px;
    color:white;
    background-color: #3b23a6;
    border-radius: 5px;
    padding: 12px;
    border:none;
}

.login_btn:hover{
    background-color:#3436ad;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}


/* 비밀번호 찾기, 회원가입 링크 css*/
.signin a{
    position: relative;
    top : 10px;
    text-decoration: none;
    color : rgb(41, 69, 231);
    font-size: 13px;
    margin-top: 20px;
}

.signinLink{
    position: relative;
    left : 270px;
}

button.kakao{
    margin-top: 40px;
    Background-color:yellow;
    border:2px solid yellow;
    color:black;
    width: 200px;
    height: 40px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

button.naver{
    margin-top: 40px;
    Background-color:rgb(41, 202, 41);
    border:2px solid rgb(41, 202, 41);
    color:black;
    width: 200px;
    height: 40px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


button:hover{
    box-shadow: inset  0px 10px 10px rgba(0, 0, 0, 0.1);;
    cursor: pointer;
}

button:focus{
   outline: none;
}


.none{
    display:none;
}