
/*전체정렬 signin 컴포넌트*/
.signin{
    padding-top: 150px;
    display : flex;
    flex-direction: column;
    align-items: center;
}

/* h1 login css */
.signin h1{
    font-weight: 400;
    font-size:25px;
    text-align: center;
}

/* input box css*/
.signin input{
    display: block;
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid black;
    width : 400px;
    font-size: 17px;
    outline: none;
    height: 30px;
    padding-top : 20px;
}

.signin input:focus {
    border-color : blue;
}

.signin input:hover {
    border-width : 3px;
}

.signin input::placeholder{
    position: relative;
    top: 0px;
}

.signin input:focus::placeholder{
    color : #3b23a6;
    font-size: 13px;
    position :relative;
    top : -30px;
    -webkit-transition: all .15s ;
    transition: all .15s ;
}

/* login button css*/
.signin .login_btn{
    width:100%;
    margin-top:40px;
    color:white;
    background-color: #3b23a6;
    border-radius: 5px;
    padding: 12px;
    border:none;
}

.signin .login_btn:hover{
    background-color:#3436ad;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

/* 비밀번호 찾기, 회원가입 링크 css*/
.signin a{
    position: relative;
    top : 10px;
    text-decoration: none;
    color : rgb(41, 69, 231);
    font-size: 13px;
    margin-top: 20px;
}

.signinLink{
    position: relative;
    left : 270px;
}

button.kakao{
    margin-top: 40px;
    Background-color:yellow;
    border:2px solid yellow;
    color:black;
    width: 200px;
    height: 40px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

button.naver{
    margin-top: 40px;
    Background-color:rgb(41, 202, 41);
    border:2px solid rgb(41, 202, 41);
    color:black;
    width: 200px;
    height: 40px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.signin button:hover{
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.1);;
    cursor: pointer;
}

.signin button:focus{
    outline: none;
}

.none{
    display:none;
}

/* 모달창 담당 */
.modal {
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 10;
    background: rgba(0,0,0,0.3);
}
.modal .content{
    position: fixed;
    left:50%;
    top:50%;
    z-index: 2;
    transform: translate3d(-50%, -50%, 0);
    background: whitesmoke;
    padding: 0px;
    box-shadow: 0 0 5px #000;
    width: 50%;
    height: 40%;
    padding: 40px;
}

/* modal 창 비밀번호 찾기 담당*/
.content h3{
    border-bottom: 3px solid black;
    padding-bottom:10px;
}

/* input css 담당 */
.content .findPW {
    border: 2px solid rgb(201, 199, 199);
    width: 100%;
    height: 50%;
}
.content input{
    border : 2px solid rgb(151, 148, 148);
    position: relative;
    left : 400px;
    top: 20px;
}

/* 취소, 다음 css 담당 */
.content button{
    background-color: white;
    width: 10%;
    height: 10%;
    position: relative;
    margin: 20px;
    border: 2px solid rgb(151, 148, 148)
}