@import "../mixin";

@include desktop {
    /*전체정렬 signin 컴포넌트*/
    .signin{
        padding-top: 150px;
        display : flex;
        flex-direction: column;
        align-items: center;
        .logo{
            width: 10%;
            display: block;
        }
        h1{
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            color: #4a4a4a;
        }

        a{
            position: relative;
            top : 10px;
            text-decoration: none;
            color : rgb(41, 69, 231);
            font-size: 13px;
            margin: 20px 0px;
        }

        .inputValue{
            input{
                display: block;
                margin-top: 15px;
                border: none;
                border-bottom: 1px solid #4a4a4a;
                width : 400px;
                font-size: 15px;
                outline: none;
                height: 30px;
                padding-top : 20px;

                &:focus{
                    border-color : #3b23a6;
                }
                &::placeholder{
                    position: relative;
                    top: 0px;
                }
                &:focus::placeholder{
                    color : #3b23a6;
                    font-size: 13px;
                    position: relative;
                    top : -30px;
                    -webkit-transition: all .15s ;
                    transition: all .15s ;
                }
            }
            .alert{
                color: rgb(117, 33, 12);
                border-radius: 6px;
                background-color: rgb(255, 215, 215);
                padding: 7px 30px;
                margin-top: 20px;
                font-size: 15px;
                .alertIcon{
                    background-color: white;
                    color : rgb(241, 63, 63);
                    display: inline-block;
                }
                strong{
                    font-size: 15px;
                    margin: 10px;
                }
            }
            .login_btn{
                width:100%;
                margin-top:40px;
                color:white;
                background-color: #3b23a6;
                border-radius: 5px;
                padding: 12px;
                border:none;
                &:hover{
                    background-color:#3436ad;
                    cursor: pointer;
                    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
                }
            }
            .signinLink{
                position: relative;
                left : 280px;
            }           
        }
        button:focus{
            outline: none;
        }
        .socialLogin{
          text-align: center;
          margin-top: 2%;
          font-size: large;
          position: relative;
          width : 100%;
          button{
            box-shadow: none !important;
            background-image: url("../googleLogo.png");
            background-position: 30% 50%;
            background-size: 36px;
            background-repeat: no-repeat;
            background-color: rgb(209, 53, 50) !important;
            // display : inline-block;
            margin: 0px 10px;
            color:white !important;
            width: 400px;
            height: 30px;
            border-radius: 5px !important;
            padding: 20px 20px 20px 35px !important;
            div {
              background-color: rgb(209, 53, 50) !important;
              svg {
                display: none;
              }
            }
            span {
              position: relative;
              left: 28%;
            }
            &.FBLogin {
              box-shadow: none !important;
              display: block;
              width: 400px;
              margin: 10px auto;
              background-image: url("../facebookLogo.png");
              background-position: 25% 50%;
              background-size: 36px;
              background-repeat: no-repeat;
              background-color: rgb(45, 66, 139) !important;
              height: 42px;
              border-radius: 5px !important;
              font-size: 14px;
              padding-top: 9px !important;
              padding-left: 46px !important;
              &:hover{
                  opacity: 0.9;
                  cursor: pointer;
              }
            }
        } 
      }
        
    }

    /* 비번 찾기 모달창 담당 */
    .modal {
        position: fixed;
        left:0;
        right:0;
        top:0;
        bottom:0;
        z-index: 10;
        background: rgba(0,0,0,0.3);
        .content{
            position: fixed;
            left: 50%;
            top: 50%;
            z-index: 2;
            transform: translate3d(-50%, -50%, 0);
            background: whitesmoke;
            padding: 0px;
            box-shadow: 0 0 5px #000;
            width: 50%;
            height: 45%;
            padding: 40px;
            border-radius: 10px;

            h3{
                border-bottom: 2px solid black;
                padding-bottom: 10px;
            }
            p {
                font-size: 0.8rem;
            }
            .findPW {
                border: 1px solid rgb(201, 199, 199);
                border-radius: 10px;
                width: 100%;
                display: block;
                text-align: center;
                padding: 20px 0px;
                margin-top: 20px;
                input{
                    border : 1px solid rgba(151, 148, 148, 0.5);
                    width: 80%;
                    height: 10%;
                    padding: 10px;
                    margin : 10px;
                    position: relative;
    
                    &:focus{
                        border-color: #3436ad;
                    }
                }
            }
            .findPwBtn{
                display: block;
                text-align: center;
                margin-top: 30px;
                width : 80%;
                position: relative;
                left : 10%;
                button {
                    background-color: white;
                    width: 40%;
                    padding: 5px 20px;
                    border: 1px solid rgb(201, 199, 199);
                    margin: 10px 5px;
                    border-radius: 6px;
                }
            }
        }
    }
}

@include mobile {
    /*전체정렬 signin 컴포넌트*/
    .signin{
        padding-top: 100px;
        display : flex;
        flex-direction: column;
        align-items: center;
        .logo{
            width: 10%;
            display: block;
        }
        h1{
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            color: #4a4a4a;
        }

        a{
            position: relative;
            top : 10px;
            text-decoration: none;
            color : rgb(41, 69, 231);
            font-size: 13px;
            margin: 20px 0px;
        }

        .inputValue{
            input{
                display: block;
                margin-top: 15px;
                border: none;
                border-bottom: 1px solid #4a4a4a;
                width : 300px;
                font-size: 15px;
                outline: none;
                height: 30px;
                padding-top : 20px;

                &:focus{
                    border-color : #3b23a6;
                }
                &::placeholder{
                    position: relative;
                    top: 0px;
                }
                &:focus::placeholder{
                    color : #3b23a6;
                    font-size: 13px;
                    position: relative;
                    top : -30px;
                    -webkit-transition: all .15s ;
                    transition: all .15s ;
                }
            }
            .alert{
                display: block;
                width: 300px;
                color: rgb(117, 33, 12);
                border-radius: 6px;
                background-color: rgb(255, 215, 215);
                padding: 3px 0px 3px 3px;
                margin-top: 20px;
                font-size: 13px;
                .alertIcon{
                    background-color: white;
                    color : rgb(241, 63, 63);
                    display: inline-block;
                }
                strong{
                    font-size: 13px;
                    margin: 10px;
                }
            }
            .login_btn{
                display: block;
                width: 300px;
                margin-top:40px;
                color:white;
                background-color: #3b23a6;
                border-radius: 5px;
                padding: 12px;
                border:none;
                &:hover{
                    background-color:#3436ad;
                    cursor: pointer;
                    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
                }
            }
            .signinLink{
                position: relative;
                left : 180px;
            }           
        }
        button:hover{
            box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.1);;
            cursor: pointer;
        }
        button:focus{
            outline: none;
        }
        .socialLogin{
          text-align: center;
          margin-top: 5%;
          font-size: large;
          position: relative;
          width : 100%;
          button{
            box-shadow: none;
            background-image: url("../googleLogo.png");
            background-position: 24% 50%;
            background-size: 30px;
            background-repeat: no-repeat;
            background-color: rgb(209, 53, 50) !important;
            // display : inline-block;
            margin: 0px 10px;
            color:white !important;
            width: 300px;
            height: 30px;
            border-radius: 5px !important;
            font-size: medium;
            padding: 19px 19px 19px 30px !important;
            div {
              background-color: rgb(209, 53, 50) !important;
              svg {
                display: none;
              }
            }
            span {
              margin-top: 0;
              position: relative;
              left: 20%;
            }
            &.FBLogin {
              display: block;
              width: 300px;
              margin: 10px auto;
              background-image: url("../facebookLogo.png");
              background-position: 18% 50%;
              background-size: 30px;
              background-repeat: no-repeat;
              background-color: rgb(45, 66, 139) !important;
              height: 40px;
              border-radius: 5px !important;
              font-size: 14px;
              padding-top: 9px !important;
              padding-left: 46px !important;
              border: 1px solid transparent;
              &:hover{
                  opacity: 0.9;
                  cursor: pointer;
              }
            }
        } 
      }
        
    }
    
    span{
        margin-top: 15px;
        p{
            display: none;
        }
        button{
            margin: 0px 10px 10px;
            display : block;
            Background-color:rgb(255, 230, 0);
            border:2px solid rgb(255, 230, 0);
            color:black;
            width: 300px;
            height: 40px;
            border-radius: 4px 4px 4px 4px; 
            color:white;
            &:hover{
                background-color: hsl(61, 76%, 60%);
                cursor: pointer;
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
                border-color: hsl(61, 76%, 60%);
            }
    }
    .naver{
        Background-color:hsl(123, 80%, 48%);
        border-color:hsl(123, 86%, 47%);
        &:hover{
            background-color: hsl(123, 56%, 50%);
            cursor: pointer;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
            border-color: hsl(61, 76%, 60%);
        }
    }

    }

    /* 비번 찾기 모달창 담당 */
    .modal {
        position: fixed;
        left:0;
        right:0;
        top:0;
        bottom:0;
        z-index: 10;
        background: rgba(0,0,0,0.3);
        .content{
            position: fixed;
            left: 50%;
            top: 50%;
            z-index: 2;
            transform: translate3d(-50%, -50%, 0);
            background: whitesmoke;
            box-shadow: 0 0 5px #000;
            width: 60%;
            height: 58%;
            padding: 30px;
            border-radius: 10px;
            h3{
                border-bottom: 2px solid black;
                padding-bottom: 10px;
                font-size: 1rem;
            }
            p {
                font-size: 0.8rem;
            }
            .findPW {
                border: 1px solid rgb(201, 199, 199);
                border-radius: 10px;
                width: 100%;
                display: block;
                text-align: center;
                padding: 10px 0px;
                margin-top: 20px;
                input{
                    border : 1px solid rgba(151, 148, 148, 0.5);
                    width: 80%;
                    height: 10%;
                    padding: 10px;
                    margin : 10px;
                    position: relative;
    
                    &:focus{
                        border-color: #3436ad;
                    }
                }
            }
            .findPwBtn{
                display: block;
                text-align: center;
                button {
                    background-color: white;
                    width: 40%;
                    padding: 5px 20px;
                    border: 1px solid rgb(201, 199, 199);
                    margin: 30px 10px 0 0;
                    border-radius: 6px;
                }
                .nextBtn {
                    margin-right: 0;
                }
            }
        }
    }
}

// .none 클래스 다른곳에서도 사용중! 삭제하지말아주세요
.none{
    display:none;
}